
/* Giving the body the specified background color, adding font sizes for the h1 and h3 elements we'll be using */
body {
    background: lightgray;
  }

/* Giving our navbar some padding and a background color */
.navbar {
  padding: 10px;
  background: white;
}

.display-1 { 
  font-family: "Times New Roman", Times, serif;
  font-size: 50px;
  font-weight: bold;
  color: rgb(12, 196, 202);
  padding: 30px;
}

.display-2 { 
  font-family: "Times New Roman", Times, serif;
  font-size: 30px;
  font-weight: bold;
  color: rgb(12, 196, 202);
  padding: 30px;
}

.font-weight-lighter {
  word-break: keep-all;
}


/* .box 1 and 2 elements */
.box-1 {
    background: white;
    height: 500px;
    margin-top: 60px;
    margin-bottom: 100px;
}

.box-2 {
    background: white;
    width: 350px;
    height: 475px;
    margin-top: 60px;
    position: absolute;  
}


.img-landing {
    width: 40%;
    height: 40%;
    float: left;
}

.text-landing {
  text-align: left;
  white-space: normal;
  color: darkgray;
  margin-right: 40px;
  margin-left: 40px;
}

.Fig1-thumbnail {
  width: 45%;
  height: 40%;
  position: absolute;
  top: 80px;
  left: 20px;
}

.Fig2-thumbnail {
  width: 45%;
  height: 40%;
  position: absolute;
  top: 80px;
  right: 10px;
}

.Fig3-thumbnail {
  width: 45%;
  height: 40%;
  position: absolute;
  top: 270px;
  left: 20px;
}

.Fig4-thumbnail {
  width: 45%;
  height: 40%;
  position: absolute;
  top: 270px;
  right: 10px;
}


/* #############PAGE 2: Comparison############## */

.box-3 {
  background: white;
  width: 1100px;
  height: 1300px;
  margin-top: 100px;
  margin-bottom: 100px;
}

.display-3 { 
  font-family: "Times New Roman", Times, serif;
  font-size: 50px;
  font-weight: bold;
  color: rgb(12, 196, 202);
  padding: 30px;
}

.text {
  text-align: left;
  white-space: normal;
  color: darkgray;
  margin-right: 40px;
  margin-left: 40px;
} 

.Fig1-comparison {
  width: 500px;
  height: 400px;
  position: absolute;
  top: 80px;
  left: 20px;
}

.fig1-hr { 
  font-family: "Times New Roman", Times, serif;
  font-size: 25px;
  font-weight: bold;
  color: rgb(12, 196, 202);
  padding: 10px;
  position: relative;
  top: 30px;
  left: 130px;
}

.Fig2-comparison {
  width: 500px;
  height: 400px;
  position: absolute;
  top: 80px;
  left: 600px;
}

.fig2-hr { 
  font-family: "Times New Roman", Times, serif;
  font-size: 25px;
  font-weight: bold;
  color: rgb(12, 196, 202);
  padding: 10px;
  position: relative;
  top: -25px;
  left: 760px;
}

.Fig3-comparison {
  width: 500px;
  height: 400px;
  position: absolute;
  top: 455px;
  left: 20px;
}

.fig3-hr {
  font-family: "Times New Roman", Times, serif;
  font-size: 25px;
  font-weight: bold;
  color: rgb(12, 196, 202);
  padding: 0px;
  position: absolute;
  top: 400px;
  left: 200px;
}

.Fig4-comparison {
  width: 500px;
  height: 400px;
  position: absolute;
  top: 455px;
  left: 600px;
}

.fig4-hr { 
  font-family: "Times New Roman", Times, serif;
  font-size: 25px;
  font-weight: bold;
  color: rgb(12, 196, 202);
  padding: 0px;
  position: relative;
  top: 400px;
  left: 760px;
}

/* #############PAGE 3: Data############## */

.display-4 { 
  font-family: "Times New Roman", Times, serif;
  font-size: 50px;
  font-weight: bold;
  color: rgb(12, 196, 202);
  padding: 30px;
}

.text-data {
  font-family: Arial, Helvetica, sans-serif;
  position: relative;
  right: 25
}

/* .dataframe table {
  position: absolute;
  left: 25;
  right: 25;
} */

/* #############PAGE 4: Max Temperature############## */

.display-5 {
  font-family: "Times New Roman", Times, serif;
  font-size: 50px;
  font-weight: bold;
  color: rgb(12, 196, 202);
  padding: 30px;
}

.img-temp {
  width: 100%;
  height: 100%;
  float: left;
}

.Fig1-gallery:hover {
  border: 3px solid rgb(12, 196, 202);
}
.Fig1-gallery {
  width: 45%;
  height: 40%;
  position: absolute;
  top: 80px;
  left: 20px;
}

.Fig2-gallery {
  width: 45%;
  height: 40%;
  position: absolute;
  top: 80px;
  right: 10px;
}

.Fig3-gallery {
  width: 45%;
  height: 40%;
  position: absolute;
  top: 270px;
  left: 20px;
}

.Fig4-gallery {
  width: 45%;
  height: 40%;
  position: absolute;
  top: 270px;
  right: 10px;
}

/* ul#sub-menu {
  display: none;
} */
  
ul#sub-menu:hover {
  display: inline-block; 
  }

  /* // or display:inline if you want them horizontally positioned */


  /* #############PAGE 5: Humidity############## */

.display-6 {
  font-family: "Times New Roman", Times, serif;
  font-size: 50px;
  font-weight: bold;
  color: rgb(12, 196, 202);
  padding: 30px;
}

.img-humid {
  width: 100%;
  height: 100%;
  float: left;
}

.Fig2-gallery:hover {
  border: 3px solid rgb(12, 196, 202);
}

/* #############PAGE 6: Wind Speed############## */

.display-7 {
  font-family: "Times New Roman", Times, serif;
  font-size: 50px;
  font-weight: bold;
  color: rgb(12, 196, 202);
  padding: 30px;
}

.img-cloud {
  width: 100%;
  height: 100%;
  float: left;
}
  
.Fig3-gallery:hover {
  border: 3px solid rgb(12, 196, 202);
}
/* #############PAGE 7: Wind Speed############## */

.display-8 {
  font-family: "Times New Roman", Times, serif;
  font-size: 50px;
  font-weight: bold;
  color: rgb(12, 196, 202);
  padding: 30px;
}
  
.img-wspeed {
  width: 100%;
  height: 100%;
  float: left;
}
  
.Fig4-gallery:hover {
  border: 3px solid rgb(12, 196, 202);
}



@media (min-width: 250px) {

  .topnav a {
    float: none;
    width: 100%;
  }

  .text-landing {
    margin-right: 10px;
    margin-left: 10px;
  }

  .navbar ul {
    visibility: visible;
  }

  #nav-select {
    visibility: visible;
  }

  .box-1 {
    background: white;
    width: 100%;
    margin-top: 60px;
    margin-bottom: 100px;
}

  /* .box-2 {
    background: white;
    width: 100%;
    height: 100%;
    margin-top: 60px;
    position: absolute;
} */

}